<div class="row" id="grettings">
  <div id="choose-locale" class="span4">
    <ul class="nav nav-pills">
      <li class="<%= "disabled" if( I18n.locale == :en ) %>"><%= link_to "English", url_for( params.merge( :locale => :en ) ) %></li>
      <li class="<%= "disabled" if( I18n.locale == :es ) %>"><%= link_to "Español", url_for( params.merge( :locale => :es ) ) %></li>
    </ul>
  </div>

  <% if current_admin_user %>
    <div id="user-name" class="span3 pull-right">
      <%= current_admin_user.name %>
      <%= link_to "Logout", admin_logout_path %>
    </div>
  <% end %>
</div>