<meta charset="utf-8">
<title>Skeleton (admin) <%= "| #{yield(:title)}" if content_for?(:title) %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="/assets/app/shared/skull.png">

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<%= javascript_include_tag "/assets/vendor/rails/jquery_ujs.js" %>
<%= javascript_include_tag "/assets/vendor/etc/ajax.loading.js" %>
<%= javascript_include_tag "/assets/vendor/etc/ajax.logger.js" %>
<%= javascript_include_tag "/assets/vendor/etc/jquery.ui.table.sortable.extension.js" %>

<!-- bootstrap -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- FontAwesome -->
<%= stylesheet_link_tag "/assets/vendor/font_awesome/css/font-awesome.css" %>

<!-- MDMagic : MarkDown editor for text fields -->
<%= javascript_include_tag "/assets/vendor/mdmagick/vendor/a-tools.js" %>
<%= javascript_include_tag "/assets/vendor/mdmagick/vendor/showdown.js" %>
<%= javascript_include_tag "/assets/vendor/mdmagick/lib/mdmagick.js" %>
<%= stylesheet_link_tag "/assets/vendor/mdmagick/assets/mdmagick.css" %>
<%= stylesheet_link_tag "/assets/vendor/mdmagick/assets/icon_font/style.css" %>

<!-- BBAssetsUpload -->
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<%= javascript_include_tag "/assets/vendor/bbassetsupload/backbone.js" %>
<%= javascript_include_tag "/assets/vendor/bbassetsupload/jquery.upload.js" %>
<%= javascript_include_tag "/assets/vendor/bbassetsupload/bbassetsupload.js" %>

<!-- NiceFileField -->
<%= javascript_include_tag "/assets/vendor/etc/nice_file_field.js" %>

<!-- application -->
<%= stylesheet_link_tag "/assets/app/shared/application.css", :media => "all" %>
<%= stylesheet_link_tag "/assets/app/admin/css/admin.css", :media => "all" %>
<%= stylesheet_link_tag "/assets/app/admin/css/image_upload.css", :media => "all" %>
<%= javascript_include_tag "/assets/app/admin/js/admin.js" %>

<%= csrf_meta_tag %>
<%= yield(:head) %>