<% title t("views.items.index.title") %>

<ol class="breadcrumb">
  <li class="active"><%= t("layouts.breadcrumbs.items") %></li>
</ol>

<div id="items_index">
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <% if !item.pics.empty? %>
            <%= image_tag item.pics.first.attach(:front) %>
          <% end %>
          <div class="caption">
            <h3><%= item.title %></h3>
            <%= item.text.truncate(150).to_md %>
            <p><%= link_to "Details", [:front, item], :class => "btn btn-primary" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= will_paginate(@items, :renderer => BootstrapPagination::Rails, :class => "pagination pagination-right") %>
</div>


