<% title "Reset your password" %>

<%= form_for [:admin, @admin_user], :url => admin_reset_password_path, :html => { :class => "form-horizontal" } do |f| %>
  <%= render "/admin/shared/form_errors", :object => f.object %>

  <legend><%= "Fill the form with your new desired password" %></legend>

  <div class="control-group">
    <%= f.label :password, :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password, :class => "span2" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => "span2" %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "User this new password", :class => "btn btn-primary", :id => "login-button" %>
    </div>
  </div>
<% end %>
