<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Skeleton <%= "| #{yield(:title)}" if content_for?(:title) %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" type="image/png" href="/assets/app/shared/skull.png">

<meta name="description" content="Skeleton official website">
<meta name="keywords" content="Skeleton">
<meta http-equiv="content-language" content="en">

<meta name="copyright" content="Skeleton">
<meta name="author" content="Skeleton">
<meta name="Distribution" content="Global">
<meta name="Rating" content="General">
<meta name="Robots" content="INDEX,FOLLOW">

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<%= javascript_include_tag "/assets/vendor/rails/jquery_ujs.js" %>

<!-- bootstrap -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- application -->
<%= stylesheet_link_tag "/assets/app/shared/application.css", :media => "all" %>
<%= stylesheet_link_tag "/assets/app/front/css/front.css", :media => "all" %>
<%= javascript_include_tag "/assets/app/front/js/front.js" %>

<%= csrf_meta_tag %>
<%= yield(:head) %>