<meta charset="utf-8">
<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%= javascript_include_tag "/assets/vendor/jquery/jquery.js" %>

<!-- application -->
<%= stylesheet_link_tag "/assets/app/front/css/front.css", :media => "all" %>
<%= javascript_include_tag "/assets/app/front/js/front.js" %>

<%= csrf_meta_tag %>
<%= yield(:head) %>