<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/front/header" %>
  </head>

  <body>
    <% if !Rails.env.production? %>
      <div class="environment_badge"><%= Rails.env %></div>
    <% end %>

    <div class="container">
      <%= render "layouts/front/menu" %>

      <div id="content">
        <h1 class="page-title"><%= yield(:title) %></h1>
        <%= yield %>
      </div>
    </div>

    <%= render "layouts/front/footer" %>
    <%= render "shared/analytics" %>
  </body>
</html>

